/* Box model é uma entidade que é criada em todo elemento do HTML,
sendo elas 4 partes, altura e largura, padding, border e margin.
Podendo ser alteradas posteriormente no css, alguns elementos já vem com essas regras definidas */

.height-width {
    height: 200px;
    width: 100px;
    background-color: aqua;
}

.height-width2 {
    height: 200px;
    background-color: rgb(37, 48, 48);
}

/* padding, borda entre o conteudo e a borda do elemento */

.padding {
    padding: 20px;
    background-color: blue;
}

.sempadding {
    background-color: aquamarine;
}

.paddingIndividual {
    background-color: black;
    color:aliceblue;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 24px;
}

.shorthand {
    padding: 10px 0px 10px 0px;
}

.padComWidth {
    background-color: aqua;
    color: black;
    width: 400px;
    padding: 40px;
    /* Usamos o box sizing quando queremos limitar o tamanho do width no padrão adicionado anteriormente então ele subtrai o valor adicionado em padding do width mas mantém o tamanho de 400px no total */
    box-sizing: border-box;
}